In [15]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [16]:
#importing the dataset
bank = pd.read_csv('bank new.csv')
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [17]:
#dropping the output column
y = bank['y']
bank.drop(columns='y', inplace=True)

In [18]:
#checking for null values
print(bank.isnull().sum())

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
dtype: int64

In [19]:
#train_test_split
x_train, x_test, y_train, y_test = train_test_split(bank, y, test_size=0.2, random_state=42)

In [20]:
#scaling continous variables
scaler = StandardScaler()
for col in x_train.columns:
    if x_train[col].dtype == 'int64' or x_train[col].dtype == 'float64':
        x_train[col] = scaler.fit_transform(np.array(x_train[col]).reshape(-1, 1))
        x_test[col] = scaler.fit_transform(np.array(x_test[col]).reshape(-1, 1))

In [21]:
#label encoding catogorical variables
le = LabelEncoder()
for col in x_train.columns:
    if x_train[col].dtype == 'object':
        x_train[col] = le.fit_transform(x_train[col])
        x_test[col] = le.transform(x_test[col])

In [22]:
#building the model
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression()

In [23]:
y_pred = logreg.predict(x_test)

In [24]:
comparisons=pd.DataFrame({'actuals':y_test,'predictions':y_pred})
comparisons

      actuals predictions
3776       no          no
9928       no          no
33409      no          no
31885      no          no
15738      no          no
...       ...         ...
13353      no          no
38732     yes          no
5654       no          no
3779       no          no
11677      no          no

[9043 rows x 2 columns]

In [25]:
confusion_matrix(y_test,y_pred)

array([[7800,  152],
       [ 861,  230]], dtype=int64)

In [26]:
#testing the accuracy of the model
accuracy_score(y_test,y_pred)

0.8879796527700984